.ql-container {
  min-height: 350px;
}

.ql-container .ql-editor {
  padding: 20px;
}

.ql-toolbar {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.ql-container {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.no-border .ql-container.ql-snow {
  border: none;
}

.no-border.small .ql-container.ql-snow {
  min-height: 0px;
}
.no-border.small .ql-container .ql-editor {
  padding: 0px 5px;
}

.no-border .ql-container .ql-editor {
  padding: 1.25rem 0.75rem 1.25rem 0.75rem;
}
